backend/activity.db
backend/backend
backend/gin.log
frontend/pnpm-lock.yaml
frontend/pnpm-workspace.yaml
out
node_modules
.vscode-test
*.vsix
.env
.env.*
!.env.example
frontend/dist
*.zip
*upload/
*.output/
*.nuxt/
frontend/css-obfuscator/conversion.json
frontend/package-lock.json
frontend/package-lock.json
backend/uploads/avatars/f7483fa428e07abc0505b46e4e73fc8f.png
*.pyc
*__pycache__/
admin/backend/logs/gin.log
backend/logs/gin.log
backend/.env.example
admin/backend/backend
script/script/package.json
script/script/telemetry.ts
script/script/tsconfig.json
2026-01-07T17_00_00.044Z.sql.gz
2026-01-07T17_00_00.044Z.sql
frontend/app/assets/icon/e52e989b-83b1-4c9d-98ee-0ce94cdb150e.pdf
test.html
admin/backend/main
2026-01-09T10_49_10.229Z.sql
main/frontend/dist
main/plugin/package-lock.json
main/backend/logs/gin.log
*.log
.vscode
start.yaml
*.idea/
package-lock.json
